

.animated-border {
    position: relative;
    /* padding: 15px 30px; */
    /* font-size: 20px; */
    /* color: white; */
    /* text-decoration: none; */
    border-radius: 10px;
    background-color: #141414;
    /* border: 3px solid transparent; */
    border: 3px solid white; /* Default white border */
    transition: all 0.3s ease-in-out;
}

.animated-border::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 10px;
    background: linear-gradient(45deg, red, yellow, lime, cyan, blue, magenta, red);
    background-size: 300%;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.animated-border:hover {
    border-color: transparent; /* Hides white border when hovered */
}

.animated-border:hover::before {
    opacity: 1;
    animation: moveBorder 2s linear infinite;
}

@keyframes moveBorder {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.animated-border::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #141414;
    border-radius: 10px;
    z-index: -2;
}